<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-align-center">
      <div class="searchby">
        <form (ngSubmit)="onSubmit()">
          <input class="form-control" type="text" name="city" [(ngModel)]="model.city" required placeholder="city name">
          <button type="submit" class="btn btn-primary no-border-radius btn-submit">Search</button>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div *ngIf="weather">
    <div class="row">
      <div class="col-md-4 offset-4 text-align-center">
        <div class="city">
          {{weather.city.name}}, {{weather.city.country}}
        </div>
        <div class="current-temp">
          {{weather.list[0].main.temp}}<sup>o</sup> <span> C  </span>
        </div>
        <div class="description">
          {{weather.list[0].weather[0].description}}
        </div>
        <div class="other-info">
          <div class="row">
            <div class="col-md-4">
              <div class="humidity">
                <label>Humidity</label>
                <div> {{weather.list[0].main.humidity}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="temp-min">
                <label>Min</label>
                <div> {{weather.list[0].main.temp_min}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="temp-max">
                <label>Max</label>
                <div> {{weather.list[0].main.temp_max}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 list" *ngFor="let list of weather.list">
        <div class="date-time">
          {{list.dt_txt | date: 'EE, d , j' }}
        </div>
      <div class="list-temp">
        {{list.main.temp}}
      </div>
    <div class="list-description">
      {{list.main.temp_max}} {{list.main.temp_min}}
    </div>
    <div class="list-description">
      {{list.weather[0].description}}
    </div>
  </div>
</div>
</div>
</div>
